body{
	margin: 0;
	padding: 0;
}
header{
	padding: 10;	
	background: linear-gradient(to right, white,blue);
}
a{
	text-decoration: none;
	font-size: 20px;
	margin-left: 5px;
	color: blue
}
a:hover{
	color: red;
}
input:focus{
	border: 2px solid red;
	
}
input:valid{
	background: lightgreen;
}	
input:invalid{
	background: lightred;
}	
input[type=submit]{
	padding: 10px;
	background: linear-gradient(to right, firebrick,red);
	border: none;
	color: white;
}
body{
	background: blue;
	color: white;
}	
form{
margin-left: 20px		
}
input[type=text]{
	height: 30px;
}


