.block{
	height: 200px;
	width: 400px;
	margin:0 auto;
	margin-top: 50px;
	font-size: 20px;
	font-family: cursive;
	background: linear-gradient(to right,red,purple,navy);
	color: whitesmoke;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.5s ease;
}
.anim1:hover{
	box-shadow: inset 0 0 0 30px blue;
}
.anim2:hover{
	opacity: 0.6;
}
.anim3:hover{
	transform: scale(1.1);	
}
.anim4:hover{
		border-radius: 100px;
}
.anim5:hover{
	transform: rotate(15deg);
	margin-top: 60px;
	margin-bottom: 60px;
}
.text{
	animation-duration: 3s;
	animation-name: animation;
	animation-iteration-count:infinite;
}
@keyframes animation{
	0%{transform: rotate(0deg);}
 100%{transform: rotate(360deg);}
}
